body {
  margin: 0;
}

ul {
  list-style: none;
}

header {
  text-align: center;
  font-size: 2em;
}

#addform {
  text-align: center;
  margin: 2em 0;
  font-size: 1em;
}

#addform input {
  margin-right: 1em;
  font-size: 2em;
}

#addform button {
  font-size: 1.5em;
  padding: 0.3em;
}

#addform label {
  margin-right: 1em;
  display: none;
}

#todolist {
  font-size: 2rem;
  border: 2px black solid;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 2em 10em;
}

#todolist > ul > li {
  margin-bottom: 1em;
}

#todolist > button {
  font-size: 1.3rem;
  margin: 1em;
}

#completedTodos {
  font-size: 2rem;
  border: 2px black solid;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 2em 10em;
}

.todo_complete {
  text-decoration: line-through;
}
